<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      h1 { text-align: center; font-size: 21pt; padding-top: 2rem; } h2{
      text-align: center; font-size: 18pt;} li { margin-top: 1rem;
      margin-bottom: 1rem; } span { font-weight: bold; }
    </style>
  </head>
  <body style="margin: 2rem; font-size: 14pt; position: relative;">
    <span
      style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; top: 0px; left: 0px;"
    >Project: {{project_name}}</span>
    <h1>Exhibit A - {{project_type}} Project Specifications</h1>

    <h2>Project Name: {{project_name}}</h2>

    <ol>
      <li>Project Features as described by the client:
        <br />
        <p
          style="text-indent: 25px; margin-bottom: 1rem;"
        >{{features_description}}</p></li>
      {{#if pwa}}
        <li>PWA (Progressive Web App) [ Website is downloadable as a mobile app
          ]</li>
      {{/if}}
      <li>Project Theme as described by the client:
        <br />
        <p
          style="text-indent: 25px; margin-bottom: 1rem;"
        >{{theme_description}}</p></li>
    </ol>
  </body>

</html>