<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      h1 { text-align: center; font-size: 21pt; padding-top: 2rem; } .field {
      display: inline-block; border-bottom: 2px solid black; margin-left:
      0.3rem; width: 300px; height: 50px; } li { margin-top: 1rem;
      margin-bottom: 1rem; } span { font-weight: bold; }
    </style>
  </head>
  <body style="margin: 2rem; font-size: 14pt; position: relative;">
    <h1>{{title}}</h1>

    <p style="text-indent: 25px; margin-bottom: 1rem;">This agreement (the "Web
      Development Contract") is entered into between
      <span>{{dev_name}}</span>, an individual with a mailing address at
      <span>{{dev_address}}</span>
      ("Developer"), and
      <span>{{client_name}}</span>, an individual or entity with a mailing
      address at
      <span>{{client_address}}</span>
      ("Client"), collectively referred to herein as the "Parties". Developer is
      an independent contractor and not an employee of any company, and
      possesses the necessary skills and experience to provide the services
      described herein.</p>

    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">RECITALS:</p>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">WHEREAS, Client
      wishes to purchase the development of a website from Developer.</p>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">WHEREAS, Developer
      agrees to develop the website for Client subject to the terms and
      conditions set forth in this Agreement.</p>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">NOW, THEREFORE, in
      consideration of the mutual promises and covenants contained herein, the
      parties agree as follows:</p>

    <ol>
      <li>Development of Website. Developer agrees to design, develop, and
        deliver the Website to Client in accordance with Client's specifications
        as outlined in Exhibit A attached hereto. Developer shall use its best
        efforts to complete the development of the Website within the agreed
        timeframe. Client acknowledges and agrees that any delays in providing
        information, approvals or feedback necessary for the Website's
        development may result in a delay in the delivery of the Website.</li>
      <li>Purchase of the Website. Upon completion of the Website, Client shall
        purchase the Website from Developer for the purchase price of
        <span>{{purchase_price}} CAD</span>
        (the "Web Development Cost"), payable within 7 days after delivery of
        the Website to the Client. Client acknowledges and agrees that the
        purchase price may be adjusted if Client requests additional features or
        changes to the Website. If Client fails to pay any installment by the
        due date, Client shall be in default and Developer may, in its sole
        discretion, terminate this Agreement and retain any amount paid by
        Client as liquidated damages. Additionally, Client shall pay a penalty
        fee of 5% of the purchase price for any late payment.</li>
      <li>Intellectual Property Rights. Developer shall retain all intellectual
        property rights to any work product created by Developer in connection
        with the development of the Website, except for any intellectual
        property specifically licensed to Client as part of the Website. Client
        shall have a non-exclusive, perpetual license to use such intellectual
        property solely in connection with the Website.</li>
      <li>Domain Name and Hosting. Client shall be solely responsible for
        acquiring and providing a domain name for the Website, and for arranging
        for hosting services for the Website. If Client chooses to have
        Developer provide hosting and maintenance services, Client and Developer
        must mutually agree on the monthly fee for such services. In this case,
        a monthly amount of
        <span>{{subscription_price}} CAD</span>
        . Client shall pay the monthly fee for hosting and maintenance services
        to Developer on the first day of every month. If Client fails to pay the
        monthly fee by one week, a 15% late fee of the monthly fee will be added
        to the invoice. If Client fails to pay the monthly fee for two weeks,
        Developer may discontinue hosting and maintenance services. Client may
        terminate the hosting and maintenance services at any time by providing
        written notice to Developer.</li>

    </ol>

    <span
      style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; bottom: 0px; right: 0px;"
    >1 / 5</span>

    <span
      style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; top: 0px; left: 0px;"
    >Project: {{project_name}}</span>

  </body>
</html>