<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      h1 { text-align: center; font-size: 21pt; padding-top: 2rem; } .field {
      display: inline-block; border-bottom: 2px solid black; margin-left:
      0.3rem; width: 300px; height: 50px; } li { margin-top: 1rem;
      margin-bottom: 1rem; } span { font-weight: bold; }
    </style>
  </head>
  <body style="margin: 2rem; font-size: 14pt; position: relative;">
    <h1>{{title}}</h1>

    <p style="text-indent: 25px; margin-bottom: 1rem;">This agreement (the
      "Mobile App Development Contract") is entered into between
      <span>{{dev_name}}</span>, an individual with a mailing address at
      <span>{{dev_address}}</span>
      ("Developer"), and
      <span>{{client_name}}</span>, an individual or entity with a mailing
      address at
      <span>{{client_address}}</span>
      ("Client"), collectively referred to herein as the "Parties". Developer is
      an independent contractor and not an employee of any company, and
      possesses the necessary skills and experience to provide the services
      described herein.</p>

    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">RECITALS:</p>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">WHEREAS, Client
      wishes to purchase the development of a Mobile Application from Developer.</p>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">WHEREAS, Developer
      agrees to develop the Mobile Application for Client subject to the terms
      and conditions set forth in this Agreement.</p>
    <p style="padding-top: 0.5rem; padding-bottom: 0.5rem;">NOW, THEREFORE, in
      consideration of the mutual promises and covenants contained herein, the
      parties agree as follows:</p>

    <ol>
      <li>Development of Mobile Application. Developer agrees to design,
        develop, and deliver the Mobile Application to Client in accordance with
        Client's specifications as outlined in Exhibit A attached hereto.
        Developer shall use its best efforts to complete the development of the
        Mobile Application within the agreed timeframe. Client acknowledges and
        agrees that any delays in providing information, approvals or feedback
        necessary for the Mobile Application's development may result in a delay
        in the delivery of the Mobile Application.</li>
      <li>Purchase of the Mobile Application. Upon completion of the Mobile
        Application, Client shall purchase the Mobile Application from Developer
        for the purchase price of
        <span>{{purchase_price}} CAD</span>
        the "Mobile App Development Cost"), payable within 7 days after delivery
        of the Mobile Application to the Client. Client acknowledges and agrees
        that the purchase price may be adjusted if Client requests additional
        features or changes to the Mobile Application. If Client fails to pay
        any installment by the due date, Client shall be in default and
        Developer may, in its sole discretion, terminate this Agreement and
        retain any amount paid by Client as liquidated damages. Additionally,
        Client shall pay a penalty fee of 5% of the purchase price for any late
        payment.</li>
      <li>Intellectual Property Rights. Developer shall retain all intellectual
        property rights to any work product created by Developer in connection
        with the development of the Mobile Application, except for any
        intellectual property specifically licensed to Client as part of the
        Mobile Application. Client shall have a non-exclusive, perpetual license
        to use such intellectual property solely in connection with the Mobile
        Application.</li>
      <li>Domain Name, Hosting and App Store. Client shall be solely responsible
        for acquiring and providing a domain name for any web services related
        to the Mobile Application, App Store accounts for the Mobile
        Application, and for arranging for hosting services for any web services
        related to the Mobile Application. If Client chooses to have Developer
        provide hosting and maintenance services, Client and Developer must
        mutually agree on the monthly fee for such services. Client shall pay
        the monthly fee of
        <span>{{subscription_price}} CAD</span>
        or hosting and maintenance services to Developer on the first of every
        month. If Client fails to pay the monthly fee by one week, a 15% late
        fee of the monthly fee will be added to the invoice. If Client fails to
        pay the monthly fee for two weeks, Developer may discontinue hosting and
        maintenance services. Client may terminate the hosting and maintenance
        services at any time by providing written notice to Developer.</li>

    </ol>

    <span
      style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; bottom: 0px; right: 0px;"
    >1 / 5</span>

    <span
      style="position: absolute; font-weight: normal; color: gainsboro; font-size: small; top: 0px; left: 0px;"
    >Project: {{project_name}}</span>

  </body>
</html>